  	#if ($document.getAppendix())
	  ## rename the variable in order to unescape the html content
	  #set($unescapehtml_Appendix = $document.getAppendix())
	  $unescapehtml_Appendix
	#else
	  <div id="appendix" about="#appendix" typeof="foaf:Document" class="hidden">
	  <h1>Appendix</h1>
	  </div>
	#end
