<div id="bottom-bar"> 
        <ul> 
            <li title="Go to top"><a href="#"><img src="report/images/top.png" alt="Go to top" /></a></li> 
        </ul> 
        <span class="jx-separator-left"></span> 
        <ul> 
		#if(!$document.ontologyDetailViews.isEmpty())
            <li title="Ontologies"><a href="#ontologies"><img src="report/images/icon-ontology-16.png" alt="Ontologies" /></a></li> 
		#end
		
		#if(!$document.ontologyClassDetailViews.isEmpty())
            <li title="Classes"><a href="#classes"><img src="report/images/icon-class-16.png" alt="Classes" /></a></li> 
		#end
		
		#if(!$document.ontologyPropertyDetailViews.isEmpty())
            <li title="Properties"><a href="#properties"><img src="report/images/icon-property-16.png" alt="Properties" /></a></li> 
		#end
		
		#if(!$document.ontologyIndividualDetailViews.isEmpty())
			<li title="Individuals"><a href="#individuals"><img src="report/images/icon-individual-16.png" alt="Individuals" /></a></li> 
		#end
		
		#if(!$document.ruleSetDetailViews.isEmpty())
			<li title="Rule sets"><a href="#rulesets"><img src="report/images/icon-ruleset-16.png" alt="Rule sets" /></a></li> 
		#end
		
		#if(!$document.ruleDetailViews.isEmpty())
			<li title="Rules"><a href="#rules"><img src="report/images/icon-rule-16.png" alt="Rules" /></a></li> 
		#end
        </ul> 
        <span class="jx-separator-left"></span>        
        <ul> 
			<li title="Expand/Collapse all" ><a href="#" id="openCloseAll"><img src="report/images/block.png" alt="Expand/Collapse all"/></a></li> 
        </ul> 
  		<span class="jx-separator-left"></span>
                
        <ul class="jx-bar-button-right">
		    ## rename the variable in order to unescape the html content
		    #if ($document.reportURL)
				#set($unescapehtml_back-to-form = "$document.reportURL&amp;showform=true")
			#else
				#set($unescapehtml_back-to-form = "\")
			#end
	      <li title="Back to form"><a href="$unescapehtml_back-to-form"><img src="report/images/back.png" alt="Back to form" /></a></li>
   		</ul>

  		<span class="jx-separator-right"></span>


   		<ul class="jx-bar-button-right">
		  <li title="Help"><a href="/help"><img src="report/images/help.png" alt="Help" /></a></li>
        </ul>
        
   		<span class="jx-separator-right"></span>
    
</div> 