#*
	author: Carlos Tejo Alonso (Fundación CTIC - www.fundacionctic.org)
*#

#parse("html/version-control-check.vm")

#if ( ($element.Uri) || 
	  ($element.Homepage) || 
  	  (!$element.Datasets.isEmpty()) ||
  	  ($element.Spatial) ||
  	  ($element.Language) )
  #set( $ti = true )
#else
  #set( $ti = false )
#end


#parse("html/documentation-check.vm")

#parse("html/md5.vm")

   <h3 id="$element.Anchor">#if ($element.uriFragment) <a id="$element.uriFragment"></a>#end#if ($element.uriFragment) <a id="$element.uriFragment"></a>#end<span class="parrot-element-title parrot-catalog-title">$element.Label</span> (Catalog)
    #parse("html/detail-menu.vm")
  </h3>
  #parse("html/description.vm")
  
  <div>

  #if ($vci)
    #parse("html/version-control.vm")
  #end


  #if ($ti)
    <div class="ti"> 
    <h4>Definition</h4> 

	#if($element.Uri)
		<p>The <strong>URI</strong> of this catalog is <span><code>$element.Uri</code></span></p>
	#end
    	
	#if($element.Homepage)
		<p>The <strong>home page</strong> is <span><a href="$element.Homepage"  class="external-link"><code>$element.Homepage</code></a></span></p>
	#end
	
	#if($element.Spatial)
		<p>The <strong>spatial coverage</strong> is <span><a href="$element.Spatial"  class="external-link"><code>$element.Spatial</code></a></span></p>
	#end

	#if($element.Language)
		<p>The <strong>language</strong> is <code>$element.Language</code></p>
	#end

	#if(!$element.Datasets.isEmpty())
	  <p>This catalog has as dataset:
	  #foreach($dataset in $element.Datasets)
	  <span class="parrot-element-ref parrot-dataset-ref" rel="dcat:dataset" href="${dataset.getUri()}">#generateLink(${dataset})</span>
	  #end
	  </p>
	#end
	
    </div>
  #end
  
  
  #if ( $otherinfo )
  	#parse("html/documentation.vm")
  #end
  
  </div>
</div>
  