<div class="term">
  <h3><a id="$element.Anchor"></a><span class="parrot-class-title">$element.Label</span> (Class)</h3>
  <dl>
  #if($element.Uri)
      <dt>Uri</dt>
      <dd><a href="$element.Uri">$element.Uri</a></dd>      
  #end
  
  #if($element.Comment)
      <dt>Description</dt>
      <dd>$element.Comment</dd>
  #end
  
  #if(!$element.depictions.isEmpty() || !$element.videos.isEmpty())
  	<dt>Multimedia</dt>
  #end
   
  #if(!$element.depictions.isEmpty())
  #foreach($depiction in $element.depictions)
    <dd><img src="$depiction" alt="" /></dd>
  #end
  #end
   
  #if(!$element.videos.isEmpty())
  #foreach($video in $element.videos)
     <dd>
     <object data="$video">
		<param name="movie" value="$video" />
	</object>
	</dd>
  #end
  #end
      
  #if(!$element.SuperClasses.isEmpty())
	<dt>SuperClasses</dt>
    #foreach($superclass in $element.SuperClasses)
      <dd><span class="parrot-class-ref"><a href="#$superclass.LocalName">$superclass.Label</a></span></dd>
    #end
  #end
  
  #if(!$element.SubClasses.isEmpty())
    <dt>SubClasses</dt>
    #foreach($subclass in $element.SubClasses)
      <dd><span class="parrot-class-ref"><a href="#$subclass.LocalName">$subclass.Label</a></span></dd>
    #end
  #end

  #if(!$element.EquivalentClasses.isEmpty())
    <dt>Equivalent Classes</dt>
    #foreach($equivalent in $element.EquivalentClasses)
      <dd><span class="parrot-class-ref"><a href="#$equivalent.LocalName">$equivalent.Label</a></span></dd>
    #end
  #end

  #if(!$element.DisjointClasses.isEmpty())
    <dt>Disjoint Classes</dt>
    #foreach($disjoint in $element.DisjointClasses)
      <dd><span class="parrot-class-ref"><a href="#$disjoint.LocalName">$disjoint.Label</a></span></dd>
    #end
  #end
     
  #if(!$element.InverseReferences.isEmpty())
   <dt>Referenced from (range or domain of...)</dt>
   #foreach($reference in $element.InverseReferences)
      <dd><span class="parrot-property-ref"><a href="#$reference.LocalName">$reference.Label</a></span></dd>
   #end
  #end
  
  #if(!$element.inverseRuleReferences.isEmpty())
   <dt>Referenced rules</dt>
   #foreach($reference in $element.inverseRuleReferences)
      <dd><span class="parrot-rule-ref"><a href="#$reference.LocalName">$reference.Label</a></span></dd>
   #end
  #end
  #if(!$element.individuals.isEmpty())
   <dt>Individuals of this class</dt>
   #foreach($individual in $element.individuals)
      <dd><span class="parrot-individual-ref"><a href="#$individual.LocalName">$individual.Label</a></span></dd>
   #end
  #end
  
  </dl>
  <p class="back-to-top">[<a href="#toc">back to top</a>]</p> 
</div> 
  