#if ( ($element.Version) ||
	  ($element.Date) ||
	  (!$element.creators.isEmpty()) ||
	  (!$element.contributors.isEmpty()) ||
	  (!$element.publishers.isEmpty()) ||
	  ($element.Rights) ||
	  ($element.LicenseLabel) )
  #set( $vci = true )
#else
  #set( $vci = false )
#end


#if ( ($element.Uri) || 
  	  (!$element.SuperClasses.isEmpty()) || 
  	  (!$element.SubClasses.isEmpty()) || 
  	  (!$element.EquivalentClasses.isEmpty()) || 
  	  (!$element.DisjointClasses.isEmpty()) ) 
  #set( $ti = true )
#else
  #set( $ti = false )
#end

#if ( ($element.isDefinedBy) || 
  	  (!$element.InverseReferences.isEmpty()) || 
  	  (!$element.inverseRuleReferences.isEmpty()) || 
  	  (!$element.individuals.isEmpty()) )
  #set( $inuse = true )
#else
  #set( $inuse = false )
#end	

#if ( (!$element.labels.isEmpty()) ||
  	  (!$element.relatedDocuments.isEmpty()) )
  #set( $otherinfo = true )
#else
  #set( $otherinfo = false )
#end	

<div class="term">
  <h3><a id="$element.Anchor"></a><span class="parrot-element-title parrot-class-title">$element.Label</span> (Class)
  #if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end

  #parse("html/detail-menu.vm")

  </h3>
  
  #parse("html/description.vm")
  
  <div>
  
  #if ($vci)
    #parse("html/version-control.vm")
  #end

  #if ( $ti )
  <div class="ti"> 
  <h4>Definition</h4> 
  	#if($element.Uri)
	  <dl>
	  <dt>URI</dt>
	  <dd><code>$element.Uri</code></dd>
	  </dl>
	#end

  <p>This class...</p>
  <table>
	#if(!$element.SuperClasses.isEmpty())
	  <tr>
	  <td><img src="images/super-class.png" alt="Super Class"></img></td><td>... is a sub class of </td>
	  <td>
	  #foreach($superclass in $element.SuperClasses)
	  <span class="parrot-element-ref parrot-class-ref"><a href="#$superclass.LocalName">$superclass.Label</a></span>
	  #end
	  </td>
	  </tr>
	#end

	#if(!$element.SubClasses.isEmpty())
	  <tr>
	  <td><img src="images/sub-class.png" alt="Sub Class"></img></td><td>... is a super class of</td>
	  <td>
	  #foreach($subclass in $element.SubClasses)
	  <span class="parrot-element-ref parrot-class-ref"><a href="#$subclass.LocalName">$subclass.Label</a></span>
	  #end
	  </td>
	  </tr>
	#end
	
	#if(!$element.EquivalentClasses.isEmpty())
	  <tr>
	  <td><img src="images/equivalent-class.png" alt="Equivalent Class"></img></td><td>... is an equivalent class of</td>
	  <td>
	  #foreach($equivalent in $element.EquivalentClasses)
	  <span class="parrot-element-ref parrot-class-ref"><a href="#$equivalent.LocalName">$equivalent.Label</a></span>
	  #end
	  </td>
	  </tr>
	#end
	
	#if(!$element.DisjointClasses.isEmpty())
	  <tr>
	  <td><img src="images/disjoint-class.png" alt="Disjoint Class"></img></td><td>... is a disjoint class of</td>
	  <td>
	  #foreach($disjoint in $element.DisjointClasses)
	  <span class="parrot-element-ref parrot-class-ref"><a href="#$disjoint.LocalName">$disjoint.Label</a></span>
	  #end
	  </td>
	  </tr>
	#end
	    
  </table>
  </div>
  #end

  #if ( $inuse )
  <div class="inuse">
  <h4>In use</h4>
  
    <p>This class...</p>
    <table>
  	#if($element.isDefinedBy)
  	  <tr>
	  <td></td><td>... is defined by </td>
	  <td><span class="parrot-element-ref parrot-${element.isDefinedBy.kindString}-ref"><a href="#$element.isDefinedBy.LocalName">$element.isDefinedBy.Label</a></span></td>
	  </tr>
	#end
  
  	#if(!$element.InverseReferences.isEmpty())
	  <tr>
	  <td><img src="images/link.png" alt="Disjoint Class"></img></td><td>... is used in</td>
	  <td>
	  #foreach($reference in $element.InverseReferences)
	  <span class="parrot-element-ref parrot-property-ref"><a href="#$reference.LocalName">$reference.Label</a></span>
	  #end
	  </td>
	  </tr>
	#end
	
	#if(!$element.individuals.isEmpty())
	  <tr>
	  <td></td><td>... has individuals such as</td>
	  <td>
	  #foreach($individual in $element.individuals)
	  <span class="parrot-element-ref parrot-individual-ref"><a href="#$individual.LocalName">$individual.Label</a></span>
	  #end
	  </td>
	  </tr>
	#end

	#if(!$element.inverseRuleReferences.isEmpty())
	  <tr>
	  <td></td><td>... is referenced in rules such as</td>
	  <td>
	  #foreach($reference in $element.inverseRuleReferences)
	  <span class="parrot-element-ref parrot-rule-ref"><a href="#$reference.LocalName">$reference.Label</a></span>
	  #end
	  </td>
	  </tr>
	#end

  </table>
  </div>
  #end
  
  
  
  #if ( $otherinfo )
  	#parse("html/documentation.vm")
  #end

  
  </div>
</div> 
  