
#if(!$document.ontologyDetailViews.isEmpty())
	<div class="toc" id="ontologies"> 
	<h2>Ontologies</h2>
	<p>
	  #foreach($element in $document.ontologyDetailViews)
	    <a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end#if ($foreach.hasNext), #end
      #end
    </p>
	</div>
	
	#foreach($element in $document.ontologyDetailViews)
	  <div class="details ontologies">#parse("html/ontology-detail.vm")</div>
	#end
#end


#if(!$document.ontologyClassDetailViews.isEmpty())
	<div class="toc" id="classes">
	<h2>Classes</h2>
	<p>
	  #foreach($element in $document.ontologyClassDetailViews)
	    <a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end#if ($foreach.hasNext), #end
	  #end
	</p>
	</div>
	
	#foreach($element in $document.ontologyClassDetailViews)
	  <div class="details classes">#parse("html/class-detail.vm")</div>
	#end
#end

#if(!$document.ontologyPropertyDetailViews.isEmpty())
	<div class="toc" id="properties">
	<h2>Properties</h2>
	<p>
	  #foreach($element in $document.ontologyPropertyDetailViews)
		<a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end#if ($foreach.hasNext), #end
	  #end
	</p>
	</div>
	
	#foreach($element in $document.ontologyPropertyDetailViews)
	<div class="details properties">#parse("html/property-detail.vm")</div>
	#end
#end

#if(!$document.ontologyIndividualDetailViews.isEmpty())
	<div class="toc" id="individuals">
	<h2>Individuals</h2>
	<p>
	#foreach($element in $document.ontologyIndividualDetailViews)
	  <a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end#if ($foreach.hasNext), #end
	#end
	</p>
	</div>	

	#foreach($element in $document.ontologyIndividualDetailViews)
	<div class="details individuals">#parse("html/individual-detail.vm")</div>
	#end
#end

#if(!$document.ruleSetDetailViews.isEmpty())
	<div class="toc" id="rulesets">
	<h2>RuleSets</h2>
	<p>
	#foreach($element in $document.ruleSetDetailViews)
	  <a href="#$element.Anchor">$element.Label</a>#if ($foreach.hasNext), #end
	#end
	</p>
	
	#foreach($element in $document.ruleSetDetailViews)
	<div class="details rulesets">#parse("html/ruleset-detail.vm")</div>
	#end
#end


#if(!$document.ruleDetailViews.isEmpty())
	<div class="toc" id="rules">
	<h2>Rules</h2>
	<p>
	  #foreach($element in $document.ruleDetailViews)
		<a href="#$element.Anchor">$element.Label</a>#if ($foreach.hasNext), #end
	  #end
	</p>
	</div>
	
	#foreach($element in $document.ruleDetailViews)
	<div class="details rules">#parse("html/rule-detail.vm")</div>
	#end
#end