    <span class="menu"> 
	  #if ($vci)<span class="vci-menu">VC</span> #end 
	  #if ($ti)<span class="ti-menu">Tech</span> #end
	  #if ($otherinfo)<span class="otherinfo-menu">Other</span> #end
    </span> 