    <span class="menu"> 
	  #if ($vci)<span class="vci-menu">Version control Information</span> #end 
	  #if ($ti)<span class="ti-menu">Technical Information</span> #end
	  #if ($otherinfo)<span class="otherinfo-menu">Other information</span> #end
    </span> 