    <div class="distribution"> 
    <h4>Distribution $distribution.Label #if($distribution.Description) ($distribution.Description)#end</h4>
     
    <dl> 

		#if($distribution.Uri)
		<dt>Uri</dt>
		<dd><code>$distribution.Uri</code></dd>
		#end

		#if($distribution.ModifiedDate)
		<dt>Last modified</dt>
		<dd class="metadata-icon date">$distribution.ModifiedDate</dd>
		#end

		#if($distribution.IssuedDate)
		<dt>Issued</dt>
		<dd class="metadata-icon date" >$distribution.IssuedDate</dd>
		#end
			  		
		#if($distribution.LicenseLabel)
		<dt>License</dt>
		<dd><a href="$distribution.LicenseLabel" class="external-link">$distribution.LicenseLabel</a></dd>
		#end
		
		#if($distribution.AccessURL)
		<dt>Access URL</dt>
		<dd><a href="$distribution.AccessURL" class="external-link">$distribution.AccessURL</a></dd>
		#end

		#if($distribution.DownloadURL)
		<dt>Download URL</dt>
		<dd><a href="$distribution.DownloadURL" class="external-link">$distribution.DownloadURL</a></dd>
		#end
		
		#if($distribution.ByteSize)
		<dt>Byte size URL</dt>
		<dd>$distribution.ByteSize</dd>
		#end
		
		#if($distribution.Mimetype)
		<dt>MIME type</dt>
		<dd>$distribution.Mimetype.Label (<code>$distribution.Mimetype.Value</code>) </dd>
		#end
		
    </dl> 
    </div>
    
    
