#set ($glossary = $document.glossary )

#if ( ! $glossary.isEmpty() )
<h2><a id="glossary"></a>Glossary</h2>
<dl>

#foreach($mapEntry in $glossary.glossaryEntries.entrySet() )
<dt>$mapEntry.key</dt>
#foreach($reference in $mapEntry.value)
	<dd><span class="parrot-element-ref"><a href="#$reference.localName">$reference.label</a></span></dd>
#end
#end

</dl>
#end
