#*
	author: Carlos Tejo Alonso (Fundación CTIC - www.fundacionctic.org)
*#

#set ($glossary = $document.glossary )

#if ( ! $glossary.isEmpty() )
<h2><a id="glossary"></a>Glossary</h2>
<dl>

#foreach($mapEntry in $glossary.glossaryEntries.entrySet() )
<dt>$mapEntry.key</dt>
#foreach($reference in $mapEntry.value)
	<dd><span class="parrot-element-ref parrot-${reference.kindString}-ref">#generateLink(${reference})</span></dd>
#end
#end

</dl>
#end
