#parse("html/version-control-check.vm")

#if ( ($element.Uri) || 
 	  (!$element.types.isEmpty()) )
  #set( $ti = true )
#else
  #set( $ti = false )
#end


#if ( (!$element.inverseRuleReferences.isEmpty()) ||
  	  ($element.isDefinedBy) )
  #set( $inuse = true )
#else
  #set( $inuse = false )
#end	

#parse("html/documentation-check.vm")


<div class="term">
   <h3 id="$element.Anchor">#if ($element.uriFragment) <a id="$element.uriFragment"></a>#end<span class="parrot-element-title parrot-individual-title">$element.Label</span> (Individual)
    #if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end
    #parse("html/detail-menu.vm")
  </h3>
  
  #parse("html/description.vm")
  
  <div>
  
  #if ($vci)
    #parse("html/version-control.vm")
  #end

  #if ( $ti )
	<div class="ti"> 
	<h4>Definition</h4> 
	
	#if($element.Uri)
		<p>The <strong>URI</strong> of this individual is <span><code>$element.Uri</code></span></p>
	#end

	
	#if(!$element.types.isEmpty())
	<hr />
	<table>
	<tr>
	<td>The type of the individual is</td>
	<td>
	#foreach($type in $element.types)
    	<span class="parrot-element-ref parrot-class-ref"><a href="#$type.LocalName">$type.Label</a></span>
    #end
	</td>
	</tr> 
	</table>
	#end
	
	#if(!$element.triplesAsSubject.isEmpty())
	<hr />
	<table>
	#foreach($triple in $element.triplesAsSubject)
	<tr>
	<td>$element.label</td>
	<td>$triple.predicate</td>
	<td>$triple.object</td>
	</tr> 
	#end
	</table>
	#end

	#if(!$element.triplesAsObject.isEmpty())
	<hr />
	<table>
	#foreach($triple in $element.triplesAsObject)
	<tr>
	<td>$triple.subject</td>
	<td>$triple.predicate</td>
	<td>$element.label</td>
	</tr> 
	#end
	</table>
	#end
	
	</div>	
  #end
  
  #if ( $inuse )
  <div class="inuse">
  <h4>In use</h4>
    #if($element.isDefinedBy)
		<p>This individual is defined by <span class="parrot-element-ref parrot-${element.isDefinedBy.kindString}-ref"><a href="#$element.isDefinedBy.LocalName">$element.isDefinedBy.Label</a></span></p>
	#end
  
  <dl>
  	  #if(!$element.inverseRuleReferences.isEmpty())
	    <dt>Referenced rules</dt>
	    #foreach($reference in $element.inverseRuleReferences)
	    <dd><span class="parrot-element-ref parrot-rule-ref"><a href="#$reference.LocalName">$reference.Label</a></span></dd>
	    #end
	  #end
	  
  </dl>
  </div>
  #end

  #if ( $otherinfo )
  	#parse("html/documentation.vm")
  #end
  	
  </div>
</div>   