#if ( ($element.Version) ||
	  ($element.Date) ||
	  (!$element.creators.isEmpty()) ||
	  (!$element.contributors.isEmpty()) ||
	  (!$element.publishers.isEmpty()) ||
	  ($element.Rights) ||
	  ($element.LicenseLabel) )
  #set( $vci = true )
#else
  #set( $vci = false )
#end

#if ( ($element.Uri) || 
 	  (!$element.types.isEmpty()) )
  #set( $ti = true )
#else
  #set( $ti = false )
#end


#if ( (!$element.inverseRuleReferences.isEmpty()) ||
  	  ($element.isDefinedBy) )
  #set( $inuse = true )
#else
  #set( $inuse = false )
#end	

#if ( (!$element.labels.isEmpty()) ||
  	  (!$element.relatedDocuments.isEmpty()) )
  #set( $otherinfo = true )
#else
  #set( $otherinfo = false )
#end
<div class="term">
  <h3><a id="$element.Anchor"></a><span class="parrot-element-title parrot-individual-title">$element.Label</span> (Individual)
    #if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end
    #parse("html/detail-menu.vm")
  </h3>
  
  #parse("html/description.vm")
  
  <div>
  
  #if ($vci)
    #parse("html/version-control.vm")
  #end

  #if ( $ti )
	<div class="ti"> 
	<h4>Definition</h4> 
	<dl>
	  #if($element.Uri)
	    <dt>URI</dt>
	    <dd><pre>$element.Uri</pre></dd>
	  #end
	
	  #if(!$element.types.isEmpty())
	    <dt>Types</dt>
	    #foreach($type in $element.types)
	    <dd><span class="parrot-element-ref parrot-class-ref"><a href="#$type.LocalName">$type.Label</a></span></dd>
	    #end
	  #end

	</dl>
	</div>	
  #end
  
  #if ( $inuse )
  <div class="inuse">
  <h4>In use</h4>
  <dl>
  	  #if(!$element.inverseRuleReferences.isEmpty())
	    <dt>Referenced rules</dt>
	    #foreach($reference in $element.inverseRuleReferences)
	    <dd><span class="parrot-element-ref parrot-rule-ref"><a href="#$reference.LocalName">$reference.Label</a></span></dd>
	    #end
	  #end
	  
	  #if($element.isDefinedBy)
	    <dt>isDefinedBy</dt>
	    <dd><span class="parrot-element-ref parrot-${element.isDefinedBy.kindString}-ref"><a href="#$element.isDefinedBy.LocalName">$element.isDefinedBy.Label</a></span></dd>
	  #end
  </dl>
  </div>
  #end

  #if ( $otherinfo )
  	#parse("html/documentation.vm")
  #end
  	
  </div>
</div>   