<div class="term">
  #if($element.Label)
    <h3><a id="$element.Anchor"></a>Individual: $element.Label</h3>
  #else
    <h3><a id="$element.Anchor"></a>Individual: $element.Uri</h3>
  #end
  <dl>
  #if($element.Uri)
      <dt>Uri</dt>
      <dd><a href="$element.Uri">$element.Uri</a></dd>      
  #end

  #if(!$element.types.isEmpty())
    <dt>Types</dt>
    #foreach($type in $element.types)
      #if($type.Label)
      	<dd><span class="parrot-class-ref"><a href="#$type.LocalName">$type.Label</a></span></dd>
      #else
        <dd><span class="parrot-rule-ref"><a href="#$type.LocalName">$type.Identifier</a></span></dd>
      #end      
    #end
  #end
  
  #if(!$element.inverseRuleReferences.isEmpty())
   <dt>Referenced rules</dt>
   #foreach($reference in $element.inverseRuleReferences)
      #if($reference.Label)
      	<dd><span class="parrot-rule-ref"><a href="#$reference.LocalName">$reference.Label</a></span></dd>
      #else
        <dd><span class="parrot-rule-ref"><a href="#$reference.LocalName">$reference.Identifier</a></span></dd>
      #end
      
   #end
  #end
  
  </dl>
  <p style="float: right; font-size: small;">[<a href="#toc">back to top</a>]</p> 
</div>   