#macro( isDefinedBy $type $reference)
	#if($reference)
		<p>This $type is defined by <span rel="rdfs:isDefinedBy" href="${reference.getUri()}" #if (!${reference.isExternalLink()}) class="parrot-element-ref parrot-${reference.kindString}-ref" #end >#generateLink($reference)</span></p>		
	#end
#end

#macro( generateLink $reference )
      #if (${reference.isExternalLink()})
        <a class="parrot-link" href="${uri_base}?documentUri=${reference.getEncodedUri()}#${reference.getLocalName()}">$reference.Label</a>
      #else
      	<a href="#${reference.LocalName}">$reference.Label</a>
      #end
#end

#macro( generateImportLink $reference )
      #if (${reference.isExternalLink()})
        <a class="parrot-link" href="${uri_base}?documentUri=${reference.getEncodedUri()}#${reference.getLocalName()}">$reference.Uri</a>
      #else
      	<a href="#${reference.LocalName}">$reference.Label</a>
      #end
#end

#macro( generateToParrotLink $uri )
      <a class="parrot-link" href="${uri_base}?documentUri=${uri}">${uri}</a>
#end

#macro( generateToParrotLinkWithLabel $uri $label)
      <a class="parrot-link" href="${uri_base}?documentUri=${uri}">${label}</a>
#end

#macro( generateToParrotLinkWithIcon $uri)
      <a href="${uri_base}?documentUri=${uri}"><img src="${uri_base}report/images/parrot.png" alt="Parrot" /></a>
#end


#macro( generateAgent $agent)
	#if($agent.homepage)
		<a href="$agent.homepage" class="external-link">$agent.name #if($agent.mbox)($agent.mbox)#end</a>
	#else
		$agent.name #if($agent.mbox)($agent.mbox)#end
	#end
#end
