#parse("html/version-control-check.vm")

#if ( ($element.Uri) ||
	  ($element.PreferredNamespace) ||
	  ($element.PreferredPrefix))
  #set( $ti = true )
#else
  #set( $ti = false )
#end

#if ( ($element.isDefinedBy) ||
	  (!$element.defines.isEmpty())	)
  #set( $inuse = true )
#else
  #set( $inuse = false )
#end	

#parse("html/documentation-check.vm")

#parse("html/md5.vm")


   <h3 id="$element.Anchor">#if ($element.uriFragment) <a id="$element.uriFragment"></a>#end<span class="parrot-element-title parrot-ontology-title">Ontology: $element.Label</span>
  #if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end
  #parse("html/detail-menu.vm")
  </h3>
  
  #parse("html/description.vm")

  <div> 

    #if ($vci)
      #parse("html/version-control.vm")
    #end
  
  
    #if ($ti)
    <div class="ti"> 
    <h4>Definition</h4> 
    
    #if($element.Uri)
		<p>The <strong>URI</strong> of this ontology is <span><code>$element.Uri</code></span></p>
		<hr />
	#end
	
    <table> 
		#if($element.PreferredNamespace)
		<tr>
		    <td><strong>Preferred Namespace URI</strong></td>
		    <td><pre><code>$element.PreferredNamespace</code></pre></td>
		</tr>
		#end
		#if($element.PreferredPrefix)
		<tr>
		    <td><strong>Preferred Prefix</strong></td>
		    <td><pre><code>$element.PreferredPrefix</code></pre></td>
		</tr>
		#end
	</table>
    </div>
  #end

  
  #if ( $inuse )
  <div class="inuse">
  <h4>In use</h4>
  	#if($element.isDefinedBy)
		<p>This ontology is defined by <span class="parrot-element-ref parrot-${element.isDefinedBy.kindString}-ref"><a href="#$element.isDefinedBy.LocalName">$element.isDefinedBy.Label</a></span></p>
	#end

    #if(!$element.defines.isEmpty())
		<p>This ontology defines elements such as
		#foreach($reference in $element.defines)
	    	<span class="parrot-element-ref parrot-${reference.kindString}-ref"><a href="#$reference.LocalName">$reference.Label</a></span>
	    #end
	    </p>
    #end  
  </div>
  #end
  
  #if ( $otherinfo )
  	#parse("html/documentation.vm")
  #end

  </div>
</div>