<div class="term">
  <h3><a id="$element.Anchor"></a>Ontology: $element.Label</h3>
  <dl>
  #if($element.Uri)
      <dt>Uri</dt>
      <dd><a href="$element.Uri">$element.Uri</a></dd>      
  #end
  
  #if($element.Comment)
      <dt>Description</dt>
      <dd>$element.Comment</dd>
  #end
  
  #if($element.PreferredPrefix)
      <dt>Preferred Prefix</dt>
      <dd>$element.PreferredPrefix</dd>
  #end
  
  #if($element.Version)
  <dt>Version</dt>
  <dd>$element.Version</dd>
  #end
  
   #if(!$element.editors.isEmpty())
   <dt>Editors:</dt>
   #foreach($editor in $element.editors)
     <dd>$editor</dd>
   #end
   #end
   
   #if(!$element.contributors.isEmpty())
   <dt>Contributors:</dt>
   #foreach($contributor in $element.contributors)
     <dd>$contributor</dd>
   #end
   #end
   
   #if(!$element.relatedDocuments.isEmpty())
   <dt>Related Documents</dt> 
   <dd>
   #foreach($element in $element.relatedDocuments)
   	  #parse("html/relatedDocument-detail.vm")
   #end
   </dd>
   #end
   
  </dl>
  <p class="back-to-top">[<a href="#toc">back to top</a>]</p> 
</div> 