#*
	author: Carlos Tejo Alonso (Fundación CTIC - www.fundacionctic.org)
*#

  	#if ($document.getPrologue())
	  ## rename the variable in order to unescape the html content
	  #set($unescapehtml_Prologue = $document.getPrologue())
	  $unescapehtml_Prologue
	#else
	  <div id="prologue" about="#prologue" typeof="foaf:Document" class="hidden">
	  <h1>Prologue</h1>
	  </div>
	#end
