#if ( ($element.Version) ||
	  ($element.Date) ||
	  (!$element.creators.isEmpty()) ||
	  (!$element.contributors.isEmpty()) )
  #set( $vci = true )
#else
  #set( $vci = false )
#end

#if ( ($element.Uri) || 
  	  ($element.hasAnyAxiom()) ||
  	  ($element.InverseOf) ||
  	  ($element.Domain) ||
  	  ($element.Range) ||
      (!$element.SuperProperties.isEmpty()) ||
      (!$element.SubProperties.isEmpty()) ||
      (!$element.EquivalentProperties.isEmpty()) ||
      (!$element.disjointProperties.isEmpty()) ||
      ($element.isDefinedBy) )
  #set( $ti = true )
#else
  #set( $ti = false )
#end


#if ( (!$element.InverseReferences.isEmpty()) || 
  	  ($element.cardinality != 0) ||
  	  (!$element.labels.isEmpty()) ||
  	  (!$element.relatedDocuments.isEmpty()) ||
  	  (!$element.inverseRuleReferences.isEmpty()) )
  #set( $otherinfo = true )
#else
  #set( $otherinfo = false )
#end	


<div class="term">
  <h3><a id="$element.Anchor"></a><span class="parrot-element-title parrot-property-title">$element.Label</span> (Property)
  	#if($element.isDeprecated())<span class="deprecated">(Deprecated)</span>#end
  	
	#if($element.isDatatypeProperty())<img class="datatype-property-icon icon" src="images/datatype-property-24x24.png"/>#end
	#if($element.isObjectProperty())<img class="object-property-icon icon" src="images/object-property-24x24.png"/>#end
	#if($element.isAnnotationProperty())<img class="annotation-property-icon icon" src="images/annotation-property-24x24.png"/>#end

	#if($element.isReflexiveProperty())<img class="reflexive-property-icon icon" src="images/reflexive-property.png"/>#end    	
	#if($element.isIrreflexiveProperty())<img class="irreflexive-property-icon icon" src="images/irreflexive-property.png"/>#end
	#if($element.isSymmetricProperty())<img class="symmetric-property-icon icon" src="images/symmetric-property.png"/>#end
	#if($element.isAsymmetricProperty())<img class="asymmetric-property-icon icon" src="images/asymmetric-property.png"/>#end
   	#if($element.isTransitiveProperty())<img class="transitive-property-icon icon" src="images/transitive-property.png"/>#end
    #if($element.isFunctionalProperty())<img class="functional-property-icon icon" src="images/functional-property.png"/>#end
    #if($element.isInverseFunctionalProperty())<img class="inverse-functional-property-icon icon" src="images/inverse-functional-property.png"/>#end

    #parse("html/detail-menu.vm")
  </h3>

  #parse("html/description.vm")
  
  <div>
  
  #if ($vci)
    #parse("html/version-control.vm")
  #end

  #if ( $ti )
  <div class="ti"> 
  <h4>Technical information</h4> 
  <dl>
	#if($element.Uri)
	    <dt>URI</dt>
	    <dd><pre>$element.Uri</pre></dd>
	#end
   
    #if ($element.hasAnyAxiom())
    <dt>Property Type</dt>
	#end    
    
    	#if($element.isDatatypeProperty())
    	<dd>Data Property</dd>      
    	#end
    	#if($element.isObjectProperty())
    	<dd>Object Property</dd>      
    	#end
    	#if($element.isAnnotationProperty())
    	<dd>Annotation Property</dd>      
    	#end
    	
    	#if($element.isTransitiveProperty())
    	<dd>Transitive Property</dd>      
    	#end    	
    	#if($element.isFunctionalProperty())
    	<dd>Functional Property</dd>      
    	#end    	
    	#if($element.isInverseFunctionalProperty())
    	<dd>Inverse Functional Property</dd>      
    	#end    	
    	#if($element.isReflexiveProperty())
    	<dd>Reflexive Property</dd>      
    	#end    	
    	#if($element.isIrreflexiveProperty())
    	<dd>Irreflexive Property</dd>      
    	#end        	
    	#if($element.isSymmetricProperty())
    	<dd>Symmetric Property</dd>      
    	#end    	
    	#if($element.isAsymmetricProperty())
    	<dd>Asymmetric Property</dd>      
    	#end

    #if($element.InverseOf)
      <dt>inverse of</dt>
      <dd><span class="parrot-element-ref parrot-property-ref"><a href="#$element.InverseOf.LocalName">$element.InverseOf.Label</a></span></dd>
    #end

    #if($element.Domain)
      <dt>Domain</dt>
   	  <dd><span class="parrot-element-ref parrot-class-ref"><a href="#$element.Domain.LocalName">$element.Domain.Label</a></span></dd>
    #end

    #if($element.Range)
      <dt>Range</dt>
      <dd><span class="parrot-element-ref parrot-${element.Range.kindString}-ref"><a href="#$element.Range.LocalName">$element.Range.Label</a></span></dd>
    #end
   
    #if(!$element.SuperProperties.isEmpty())
      <dt>SubProperty of</dt>
      #foreach($superproperty in $element.SuperProperties)
      <dd><span class="parrot-element-ref parrot-property-ref"><a href="#$superproperty.LocalName">$superproperty.Label</a></span></dd>
      #end
    #end

    #if(!$element.SubProperties.isEmpty())
      <dt>SuperProperty of</dt>
      #foreach($subproperty in $element.SubProperties)
      <dd><span class="parrot-element-ref parrot-property-ref"><a href="#$subproperty.LocalName">$subproperty.Label</a></span></dd>
      #end
    #end
   
    #if(!$element.EquivalentProperties.isEmpty())
      <dt>Equivalent Property of</dt>
      #foreach($equivalentProperty in $element.EquivalentProperties)
      <dd><span class="parrot-element-ref parrot-property-ref"><a href="#$equivalentProperty.LocalName">$equivalentProperty.Label</a></span></dd>
      #end
    #end

    #if(!$element.disjointProperties.isEmpty())
      <dt>Disjoint Properties</dt>
      #foreach($property in $element.disjointProperties)
      <dd><span class="parrot-element-ref parrot-property-ref"><a href="#$property.LocalName">$property.Label</a></span></dd>
      #end
    #end
    
    #if($element.isDefinedBy)
      <dt>isDefinedBy</dt>
      <dd><span class="parrot-element-ref parrot-${element.isDefinedBy.kindString}-ref"><a href="#$element.isDefinedBy.LocalName">$element.isDefinedBy.Label</a></span></dd>
    #end    
   </dl>
   </div>
  #end
  
  #if ( $otherinfo )
    <div class="otherinfo">
    <h4>Other information</h4> 
    <dl>
      #if(!$element.InverseReferences.isEmpty())
        <dt>Referenced from</dt>
        #foreach($reference in $element.InverseReferences)
        <dd><span class="parrot-element-ref><a href="#$reference.LocalName">$reference.Label</a></span></dd>
        #end
      #end

      #if($element.cardinality != 0)
        <dt>Cardinality:</dt>
        <dd>$element.cardinality</dd>
      #end
   
      #if(!$element.labels.isEmpty())
        <dt>Labels</dt>
        <dd>#parse("html/label.vm")</dd>
      #end
   
      #if(!$element.relatedDocuments.isEmpty())
        <dt>Related Documents</dt> 
        <dd>
        #foreach($element in $element.relatedDocuments)
          #parse("html/relatedDocument-detail.vm")
        #end
        </dd>
      #end
   
      #if(!$element.inverseRuleReferences.isEmpty())
        <dt>Referenced rules</dt>
        #foreach($reference in $element.inverseRuleReferences)
        <dd><span class="parrot-element-ref parrot-rule-ref"><a href="#$reference.LocalName">$reference.Label</a></span></dd>
        #end
      #end
    </dl>
    </div>
  #end
    
  </div>
</div>   