<!-- <h4>Related document</h4> -->
<div class="related-document" style="display: block;"> 
  <div class="block">
     #if($element.type == "text/html")
       <p>Candidate Rule:</p>
     #end
     
     #if($element.type == "application/pdf")
       <a href="$element.Uri"><img class="related-document-icon" src="${uri_base}report/images/pdf-icon.png" alt="pdf icon" /></a>
     #end
     #if($element.type == "text/plain")
       <a href="$element.Uri"><img class="related-document-icon" src="${uri_base}report/images/text-icon.png" alt="text icon" /></a>
     #end
     #if($element.type == "application/vnd.ms-powerpoint")
       <a href="$element.Uri"><img class="related-document-icon" src="${uri_base}report/images/ppt-icon.png" alt="ppt icon" /></a>
     #end
     #if($element.type == "text/html")
       <a href="$element.Uri"><img class="related-document-icon" src="${uri_base}report/images/candidate-rule-icon.png" alt="candidate-rule icon" /></a>
     #end
     #if($element.type == "uri")
       <a href="$element.Uri"><img class="related-document-icon" src="${uri_base}report/images/hyperlink-icon.png" alt="hyperlink icon" /></a>
     #end

     #if($element.type == "video/mpeg")
	 <object type="application/x-shockwave-flash" width="400" height="329" data="$element.uri">
	 	<param name="movie" value="$element.uri" />
	 	<param name="wmode" value="transparent" />
	 </object>
	 #end

     #if($element.type == "image/png")
	 <a href="$element.uri"><img class="related-image" src="$element.uri" alt="Related image"/></a>
	 #end
     
     #if($element.sourceText)
        ## rename the variable in order to unescape the html content
     	#set($unescapehtml_sourceText = $element.sourceText)
     	<p>$unescapehtml_sourceText</p>
     	
     	#if ($element.Uri)      
     	<p class="relatedDocumentUrl"><a href="$element.Uri">$element.Uri</a></p>
     	#end
     #end
     
     #if($element.type == "uri")
      	<p class="relatedDocumentUrl"><a href="$element.Uri">$element.Uri</a></p>
     #end

  </div>
</div>

