<div class="term">
  #if($element.Label)
    <h3><a id="$element.Anchor"></a>Rule: $element.Label</h3>
  #else
    <h3><a id="$element.Anchor"></a>Rule: $element.Uri</h3>
  #end
  <dl>
  #if($element.Uri)
      <dt>Uri</dt>
      <dd><a href="$element.Uri">$element.Uri</a></dd>      
  #end
  #if($element.Label)
      <dt>Label</dt>
      <dd>$element.Label</dd>
   #end
   #if($element.Comment)
      <dt>Comment</dt>
      <dd>$element.Comment</dd>
   #end
   
   #if(!$element.creators.isEmpty())
   <dt>Creators:</dt>
   #foreach($creator in $element.creators)
     <dd>$creator</dd>
   #end
   #end
   
   #if(!$element.contributors.isEmpty())
   <dt>Contributors:</dt>
   #foreach($contributor in $element.contributors)
     <dd>$contributor</dd>
   #end
   #end
   
   #if(!$element.publishers.isEmpty())
   <dt>Publishers:</dt>
   #foreach($publisher in $element.publishers)
     <dd>$publisher</dd>
   #end
   #end
   
   #if($element.Date)
      <dt>Date</dt>
      <dd>$element.Date</dd>
   #end
   #if(!$element.referencedOntologicalObjects.isEmpty())
   <dt>Referenced ontological objects</dt>
   #foreach($v in $element.referencedOntologicalObjects)
      #if($v.Label)
      	<dd><a href="#$v.LocalName">$v.Label</a></dd>
      #else
        <dd><a href="#$v.LocalName">$v.Identifier</a></dd>
      #end
   #end
   #end
  
  </dl>
</div>
  