<div class="term">
  <h3><a id="$element.Anchor"></a><span class="parrot-rule-title">$element.Label</span> (Rule)</h3>
  <dl>
   #if($element.Uri)
      <dt>Uri</dt>
      <dd><a href="$element.Uri">$element.Uri</a></dd>      
   #end
   #if($element.Comment)
      <dt>Description</dt>
      <dd>$element.Comment</dd>
   #end
   
   #if(!$element.creators.isEmpty())
   <dt>Creators:</dt>
   #foreach($creator in $element.creators)
     <dd>$creator</dd>
   #end
   #end
   
   #if(!$element.contributors.isEmpty())
   <dt>Contributors:</dt>
   #foreach($contributor in $element.contributors)
     <dd>$contributor</dd>
   #end
   #end
   
   #if(!$element.publishers.isEmpty())
   <dt>Publishers:</dt>
   #foreach($publisher in $element.publishers)
     <dd>$publisher</dd>
   #end
   #end
   
   #if($element.Date)
      <dt>Date</dt>
      <dd>$element.Date</dd>
   #end
   
   #if(!$element.depictions.isEmpty())
   <dt>Multimedia</dt>
   #foreach($depiction in $element.depictions)
     <dd><img src="$depiction" alt="" /></dd>
   #end
   #end
   
   
   #if(!$element.referencedOntologicalObjects.isEmpty())
   <dt>Referenced model objects</dt>
   #foreach($v in $element.referencedOntologicalObjects)
	 <dd><a href="#$v.LocalName">$v.Label</a></dd>
   #end
   #end
  
  </dl>
  <p class="back-to-top">[<a href="#toc">back to top</a>]</p> 
</div>
  