<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:parrot="http://vocab.ctic.es/parrot#">
  <head typeof="parrot:Project">
    <title>$document.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #parse("html/rdfa.vm")
    
    <link rel="stylesheet" type="text/css" media="screen,projection" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/cupertino/jquery-ui.css" /> 
    <style type="text/css">
	    #include("css/base.css")
	    #include("css/custom.css")
		#include("css/SemEx.css")
		#if (${profile} == "business")
			#include("css/${profile}.css")
		#end
		#if (${profile} == "technical")
			#include("css/${profile}.css")
		#end
    </style>
    
    <link rel="stylesheet" type="text/css" media="screen,projection" href="report/jixedbar/jx.stylesheet.css" /> 
    <link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon" />
    <!-- for debugging 
    <link rel="stylesheet" type="text/css" media="screen,projection" href="report/css/base.css" /> 
	<link rel="stylesheet" type="text/css" media="screen,projection" href="report/css/custom.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="report/css/SemEx.css" />
    -->
  </head>
  <body>
  #parse("html/header.vm")
  <div id="content">

	#parse("html/prologue.vm")
	#parse("html/download.vm")
	#parse("html/toc.vm")
	#parse("html/details.vm")
	#parse("html/glossary.vm")
	#parse("html/appendix.vm")
	#parse("html/footer.vm")
  </div>
  #parse("html/bottom-bar.vm")

  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script> 
  <script type="text/javascript" src="https://github.com/malsup/corner/raw/master/jquery.corner.js"></script> 
  <script type="text/javascript" src="http://jixedbar.googlecode.com/svn/branches/0.0.5/src/jquery.jixedbar.min.js"></script> 
  <script type="text/javascript" src="http://bazaar.launchpad.net/~craig.craigsworks/qtip/1.0/download/2/jquery.qtip1.0.js-20100208190353-yfo386e4500jv3h5-1/jquery.qtip-1.0.js"></script> 
  <!-- <script type="text/javascript" src="report/js/javascript.js"></script> -->
  <script type="text/javascript">
/* <![CDATA[ */

  	#include("js/javascript.js")

  	#if (${profile} == "business")
		#include("js/${profile}.js")
	#end

	#if (${profile} == "technical")
		#include("js/${profile}.js")
	#end
/* ]]> */
  </script>
  
  </body>
  <!-- specification generated by Parrot (http://ontorule-project.eu/parrot) -->
</html>
