<div id ="toc" class="toc">
<h1>Table of contents</h1>
<!-- The list of ontologies, classes, properties, individuals, rules and rule sets goes here --> 

#if(!$document.ontologyDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-ontology-ref">Ontologies (${document.ontologyDetailViews.size()}):</span></p> 
<p>
#foreach($element in $document.ontologyDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated"> (Deprecated)</span>#end#if ($foreach.hasNext), #end
#end
</p>
#end


#if(!$document.ontologyClassDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-class-ref">Classes (${document.ontologyClassDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.ontologyClassDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated"> (Deprecated)</span>#end#if ($foreach.hasNext), #end
#end
</p>
#end


#if(!$document.ontologyPropertyDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-property-ref">Properties (${document.ontologyPropertyDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.ontologyPropertyDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated"> (Deprecated)</span>#end#if ($foreach.hasNext), #end
#end
</p>
#end


#if(!$document.ontologyIndividualDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-individual-ref">Individuals (${document.ontologyIndividualDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.ontologyIndividualDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if($element.isDeprecated())<span class="deprecated"> (Deprecated)</span>#end#if ($foreach.hasNext), #end
#end
</p>
#end


#if(!$document.ruleSetDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-ruleset-ref">RuleSets (${document.ruleSetDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.ruleSetDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if ($foreach.hasNext), #end
#end
</p>
#end


#if(!$document.ruleDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-rule-ref">Rules (${document.ruleDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.ruleDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if ($foreach.hasNext), #end
#end
</p>
#end

#if(!$document.vocabularyDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-vocabulary-ref">Vocabularies (${document.vocabularyDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.vocabularyDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if ($foreach.hasNext), #end
#end
</p>
#end

#if(!$document.catalogDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-catalog-ref">Catalogs (${document.catalogDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.catalogDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if ($foreach.hasNext), #end
#end
</p>
#end

#if(!$document.datasetDetailViews.isEmpty())
<p><span class="parrot-element-ref parrot-dataset-ref">Datasets (${document.datasetDetailViews.size()}):</span></p>
<p>
#foreach($element in $document.datasetDetailViews)
	<a href="#$element.Anchor">$element.Label</a>#if ($foreach.hasNext), #end
#end
</p>
#end


<hr />

#if(!$document.glossary.isEmpty())
<p>
<a href="#glossary">Glossary ($document.glossary.size() entries)</a>
</p>
#end

</div>