    <div class="vci"> 
    <h4>Version Control information</h4> 
    <dl> 
		#if($element.Version)
		<dt>Version</dt>
		<dd>$element.Version</dd>
		#end
		
		#if($element.Date)
		<dt>Date</dt>
		<dd class="metadata-icon date">$element.Date</dd>
		#end
	  
		#if(!$element.creators.isEmpty())
		<dt>Creators:</dt>
		#foreach($creator in $element.creators)
		  <dd class="metadata-icon creator">$creator</dd>
		#end
		#end
		
		#if(!$element.contributors.isEmpty())
		<dt>Contributors:</dt>
		#foreach($contributor in $element.contributors)
		  <dd class="metadata-icon contributor">$contributor</dd>
		#end
		#end
		
		#if(!$element.publishers.isEmpty())
		<dt>Publishers:</dt>
		#foreach($publisher in $element.publishers)
		  <dd class="metadata-icon publisher">$publisher</dd>
		#end
		#end
		
		#if($element.Rights)
		<dt>Rights</dt>
		<dd>$element.Rights</dd>
		#end
		
		#if($element.LicenseLabel)
		<dt>License</dt>
		<dd><a href="$element.LicenseLabel">$element.LicenseLabel</a></dd>
		#end
		
    </dl> 
    </div>
    
    
