#parse("html/version-control-check.vm")

#if ( ($element.Uri) ||
	  ($element.PreferredNamespace) ||
	  ($element.PreferredPrefix) ||
	  ($element.ClassNumber) ||
	  ($element.HomePage) ||
	  ($element.PropertyNumber))
  #set( $ti = true )
#else
  #set( $ti = false )
#end


#parse("html/documentation-check.vm")

#parse("html/md5.vm")

   <h3 id="$element.Anchor">#if ($element.uriFragment) <a id="$element.uriFragment"></a>#end#if ($element.uriFragment) <a id="$element.uriFragment"></a>#end<span class="parrot-element-title parrot-vocabulary-title">$element.Label</span> (Vocabulary)
    #parse("html/detail-menu.vm")
  </h3>
  #parse("html/description.vm")
  
  <div>

  #if ($vci)
    #parse("html/version-control.vm")
  #end


  #if ($ti)
    <div class="ti"> 
    <h4>Definition</h4> 
    
    #if($element.Uri)
		<p>The <strong>URI</strong> of this vocabulary is <span><code>$element.Uri</code></span></p>
		<hr />
	#end
	
    <table> 
		#if($element.PreferredNamespace)
		<tr>
		    <td><strong>Preferred Namespace URI</strong></td>
		    <td><pre><code>$element.PreferredNamespace</code></pre></td>
		</tr>
		#end
		#if($element.PreferredPrefix)
		<tr>
		    <td><strong>Preferred Prefix</strong></td>
		    <td><pre><code>$element.PreferredPrefix</code></pre></td>
		</tr>
		#end
		#if($element.ClassNumber)
		<tr>
		    <td><strong>Number of classes defined in the vocabulary</strong></td>
		    <td><pre><code>$element.ClassNumber</code></pre></td>
		</tr>
		#end
		#if($element.PropertyNumber)
		<tr>
		    <td><strong>Number of properties defined in the vocabulary</strong></td>
		    <td><pre><code>$element.PropertyNumber</code></pre></td>
		</tr>
		#end
		#if($element.Homepage)
		<tr>
		    <td><strong>Homepage</strong></td>
		    <td><pre><code>$element.Homepage</code></pre></td>
		</tr>
		#end
		</table>
    </div>
  #end
  
  
  #if ( $otherinfo )
  	#parse("html/documentation.vm")
  #end
  
  </div>
</div>
  