body {
    padding: 0em;
}

div#content {
    padding: 0em 20% 4em 20%;
}

div#footer {
  margin-top: 5em;
  border-top: 1px #3d506f solid;
  padding-top: 0.5em;
  font-size: 0.65em;
  float: right;
  margin-left: 0.5em;
}

h1, h2, h3, h4, h5, h6,.toc {color: #5674BC; }

/* background should be transparent, but WebTV has a bug */
h1 { font: 170% sans-serif; display: inline; }
h2, .toc b { font: 140% sans-serif }
h2 { margin-top: 1em; }

.details {
   border: 1px solid #ccc;
   margin-top: 2em;
   padding-left: 1em;
}

div.term a{
	font-family: monospace;
}

div.term > div{
    border-top: 3px groove red;
    margin: 0px;
    padding: 1em;
    margin-right:1em;
}

.it , .vci, .otherinfo{
   border: 1px solid White;
   padding-left: 1em;
   margin-top: 1em;
   background-color: White;
}

div.toc{
	padding: 1em;
	border: solid #5674BC;
	background-color: transparent;
    margin: 1em -15% 0em -15%;
}

dt{
 	font-weight:bold;
}

.parrot-element-ref {
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 18px;
}

.parrot-element-title {
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 26px;
}

.parrot-ontology-ref {
	background-image: url("images/icon-ontology-16.png");
}

.parrot-ontology-title {
	background-image: url("images/icon-ontology-24.png");
}

.parrot-class-ref {
	background-image: url("images/icon-class-16.png");
}

.parrot-class-title {
	background-image: url("images/icon-class-24.png");
}

.parrot-property-ref {
	background-image: url("images/icon-property-16.png");
}

.parrot-property-title {
	background-image: url("images/icon-property-24.png");
}

.parrot-individual-ref {
	background-image: url("images/icon-individual-16.png");
}

.parrot-individual-title {
	background-image: url("images/icon-individual-24.png");
}

.parrot-rule-ref {
	background-image: url("images/icon-rule-16.png");
}

.parrot-rule-title {
	background-image: url("images/icon-rule-24.png");
}

.parrot-ruleset-ref {
	background-image: url("images/icon-ruleset-16.png");
}

.parrot-ruleset-title {
	background-image: url("images/icon-ruleset-24.png");
}

.parrot-datatype-ref {
	background-image: url("images/icon-datatype-16.png");
}

.parrot-label-locale {
	color: green;
}

.parrot-label-text-pref {
	font-weight:bold;
}

.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	border: 1px solid #d6d6d6;
	background: #f0f0f0;
	overflow: hidden;
	font-size: 1em;
	clear: both;
}

.toggle_container .block {
	padding: 20px;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}
.toggle_container h5 {
	font: 2.5em normal Georgia, "Times New Roman", Times, serif;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #ccc;
}
.toggle_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}
pre { margin: 0em }

.deprecated {
	color: red;
}

/** begin header **/

div#header {
  background-color: #336699;
  text-align: left;
  vertical-align: top;
  display: block;
  margin: 0.3em 10em 0em 10em;
  background-image: url(../images/ctic-white.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  border: 1px solid white;
  padding:3em;
}

#header h1 {
  font-size: 2.4em;
  font-weight: bold;
  color: #ffffff;
  display: inline;
  background-color: transparent;
}

#header h2{
  background-color: transparent;
  font-size: 1.4em;
  color: #dddddd;
  display: inline;
  padding-left: 0.4em;
}

h1 a, h1 a:active, h1 a:hover, h1 a:visited {
  color: #ffffff;
  text-decoration: none;
}

h1 a[href]:hover { background-color: transparent; }


/** end header **/

/** begin color details **/
.ontologies{
	background-color: #CCCCFF;
}

.ontologies h3{
	background-color: #CCCCFF;
}

.classes {
	background-color: #FFFFCC;
}

.classes h3 {
	background-color: #FFFFCC;
}

.properties{
	background-color: #E8E8E8;
}

.properties h3{
	background-color: #E8E8E8;
}

.individuals{
	background-color: #FFCCFF;
}

.individuals h3{
	background-color: #FFCCFF;
}

.rulesets{
	background-color: #C6E2FF;
}

.rulesets h3{
	background-color: #C6E2FF;
}

.rules{
	background-color: #CAFF70;
}

.rules h3{
	background-color: #CAFF70;
}

/** end color details **/

.details h3{
    margin: 0em;
    margin-right: 1em;
    padding: 1em;
    cursor:pointer;
    background-position: right;
    background-repeat: no-repeat;
	background-image: url("../images/more-info.gif") ;
}

.details h4{
    cursor:pointer;
    background-position: right;
    background-repeat: no-repeat;
	background-image: url("../images/more-info.gif") ;
}
