<?xml version="1.0" encoding="UTF-8"?>
  <web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Parrot</display-name>

   <servlet>
        <servlet-name>ServletParrot</servlet-name>
		<servlet-class>es.ctic.parrot.web.ServletParrot</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>ServletHelp</servlet-name>
		<servlet-class>es.ctic.parrot.web.ServletHelp</servlet-class>
    </servlet>

    <servlet-mapping>
	    <servlet-name>ServletParrot</servlet-name>
	    <url-pattern>/parrot</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>ServletHelp</servlet-name>
	    <url-pattern>/help</url-pattern>
    </servlet-mapping>
    
</web-app>