<?xml version="1.0" encoding="UTF-8"?>
  <web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Parrot</display-name>

   <servlet>
        <servlet-name>ServletParrot</servlet-name>
		<servlet-class>es.ctic.parrot.web.ServletParrot</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>ServletExamples</servlet-name>
		<servlet-class>es.ctic.parrot.web.ServletExamples</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>ServletAbout</servlet-name>
		<servlet-class>es.ctic.parrot.web.ServletAbout</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>ServletHelp</servlet-name>
		<servlet-class>es.ctic.parrot.web.ServletHelp</servlet-class>
    </servlet>
   

   <servlet>
        <servlet-name>ServletContact</servlet-name>
		<servlet-class>es.ctic.parrot.web.ServletContact</servlet-class>
    </servlet>

    <servlet-mapping>
	    <servlet-name>ServletParrot</servlet-name>
	    <url-pattern>/parrot</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>ServletExamples</servlet-name>
	    <url-pattern>/examples</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>ServletAbout</servlet-name>
	    <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>ServletHelp</servlet-name>
	    <url-pattern>/help</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>ServletContact</servlet-name>
	    <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>  
        	<param-name>forceEncoding</param-name>  
        	<param-value>true</param-value>  
        </init-param> 
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
