<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="es.ctic.parrot.parrot_eclipse.commands.ProcOWL"
            name="Process OWL">
      </command>
      <command
            id="es.ctic.parrot.parrot_eclipse.commands.ProcRIF"
            name="Process RIF">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.ctic.parrot.parrot_eclipse.handlers.ProcOWLHandler"
            commandId="es.ctic.parrot.parrot_eclipse.commands.ProcOWL">
      </handler>
      <handler
            class="es.ctic.parrot.parrot_eclipse.handlers.ProcRIFHandler"
            commandId="es.ctic.parrot.parrot_eclipse.commands.ProcRIF">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Parrot"
               mnemonic="M"
               id="es.ctic.parrot.parrot_eclipse.menus.mainMenu">
            <command
                  commandId="es.ctic.parrot.parrot_eclipse.commands.ProcOWL"
                  icon="icons/parrot_owl.png"
                  id="es.ctic.parrot.parrot_eclipse.menus.ProcOWL"
                  label="Process OWL"
                  style="push">
            </command>
            <command
                  commandId="es.ctic.parrot.parrot_eclipse.commands.ProcRIF"
                  icon="icons/parrot_rif.png"
                  id="es.ctic.parrot.parrot_eclipse.menus.ProcRIF"
                  label="Process RIF"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="es.ctic.parrot.parrot_eclipse.toolbars.sampleToolbar">
            <command
                  commandId="es.ctic.parrot.parrot_eclipse.commands.ProcOWL"
                  icon="icons/parrot_owl.png"
                  id="es.ctic.parrot.parrot_eclipse.menus.ProcOWL"
                  label="Process OWL"
                  style="push">
            </command>
            <command
                  commandId="es.ctic.parrot.parrot_eclipse.commands.ProcRIF"
                  icon="icons/parrot_rif.png"
                  id="es.ctic.parrot.parrot_eclipse.menus.ProcRIF"
                  label="Process RIF"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="es.ctic.parrot.parrot-eclipse.view-category"
            name="Parrot">
      </category>
      <view
            category="es.ctic.parrot.parrot-eclipse.view-category"
            class="es.ctic.parrot.parrot_eclipse.views.DocBrowserView"
            icon="icons/parrot_owl.png"
            id="es.ctic.parrot.parrot-eclipse.browser"
            name="Parrot Browser"
            restorable="true">
      </view>
   </extension>

</plugin>
